@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

/* reset */
a {
    /* 부모태그 상속 */
    color: inherit;
    text-decoration: none;
}
button, input {
    outline: none;
    border: none;
}

/* common */
.wrap {
    font: 15px "Noto Sans KR", sans-serif;
}

/* header */
header {
    width: 100%;
    position: fixed;
    z-index: 100;
}
header .inner-header {
    width: 92%;
    height: 120px;
    margin: 0 auto;
    /* background: orange; */
    display: flex;
    /* 로고와 메뉴를 양 옆 끝에 */
    justify-content: space-between;
    /* 중앙배치 */
    align-items: center;
}
header .inner-header .logo {
    /* background: tomato; */
    flex: 1;
}
header .inner-header .logo a {
    display: block;
    width: 100%;
}
header .inner-header .logo a img {
    /* 한쪽 줄이면 비율 맞춰짐 */
    height: 60px;
}

header .inner-header .intro-text {
    /* background: skyblue; */
    flex: 4;
    margin-left: 40px;
    color: #fff;
    text-transform: uppercase;
}
header .inner-header .menu-open {
    /* background: green; */
    flex: 1;
    font-size: 16px;
    font-weight: 700;
    color: #fff;

    /* 메뉴랑 햄버거 한번에 가운데 정렬 */
    display: flex;
    align-items: center;
    /* 끝에 정렬 */
    justify-content: flex-end;
    /* background: tomato; */
}
header .inner-header .menu-open .lnr-menu {
    font-size: 33px;
    margin-left: 15px;
}


/* menu navigation bar */
header .gnb {
    display: none;
}